.container{
    display: flex;
    height: 600px;
    width: 800px;
    background-color: rgb(228, 236, 184);
    border: 1px solid black;
    flex-direction:  row;
    flex-wrap: wrap;
    flex-flow: coulmn wrap;
    /*justify-content*/
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(214, 184, 10);
    border: 1px solid black;
    text-align: center;
    /* flex-grow: 1; */
}
.item2{
    order: -1;
    align-self: flex-end;

}