.container{
height: 500px;
width: 1000px;
background-color: bisque;
border: 1px solid black;
display: grid;
/* grid-template-columns: 1fr 1fr 1fr 1fr; */
 grid-template-columns: repeat(4,100px); 
/* grid-template-rows: 1fr 1fr 1fr; */
grid-template-rows: repeat(3,100px);
/* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
gap: 10px;
/* column-gap: 10px;
row-gap: 10px; */
justify-items: center;
align-items: center;
justify-content: center;
align-content: center;

}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: azure;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */
