/* p{
    color: blue;
    background-color: beige;
    text-align: center;
}
.p{
    color: aqua;
    background-color:brown;
}
#jk{
    font-size: 25px;
}
div{
    height: 200px;
    width: 200px;
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 100px;
} */
/* p{
    color: blue;
    text-align: left;
}
div{
color: peru;
text-align: center;
border: 5px solid black;
margin: 120px;
padding: 20px;

} */

/* div{
    border: 3px solid black;
    margin: 120px;
}
 p{
    background-color: rgb(184, 236, 184);
}
#ff{
    background-color: aqua; 
}  */
.container{
    margin: 10px;
    border: 2px solid black;
    padding : 20px;
    padding-right: 20px;
    width: 800px;
}
.box1{
    margin: 10px;
    border: 2px solid yellow;
    background-color: yellow;
    padding: 20px;
    display: inline-block;
    height: 400px;
    width: 200px;
}
.box2{
    margin: 10px;
    border: 2px solid palevioletred;
    background-color: palevioletred;
    padding: 20px;
    display: inline-block;
    height: 400px;
    width: 200px;

}
.box3{
    margin: 10px;
    border: 2px solid skyblue;
    background-color: skyblue;
    padding: 20px;
    display: inline-block;
    height: 400px;
    width: 200px;

}
p{
    text-align: center;
}
.h1{
    text-align: center;
}
 /* div{
    border: 3px solid black;
    margin: 120px;
    padding: 20px;
    background-color: pink;
 }
 footer{
    background-color: aquamarine;
 } */