/* p{
    color: blue;
    background-color: beige;
    text-align: center;
}
.p{
    color: aqua;
    background-color:brown;
}
#jk{
    font-size: 25px;
}
div{
    height: 200px;
    width: 200px;
    background-color: beige;
    padding: 20px;
    border: 1px solid black;
    margin: 100px;
} */
p{
    color: blue;
    text-align: left;
}
div{
color: peru;
text-align: center;
border: 5px solid black;
margin: 120px;
padding: 20px;

}

